*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.multi{
  background-color: #EEEEEE;
}
.title{
  font-family: 'Bakbak One';
}
.alignCenter{
  text-align: center;
}
.blackColor{
  color: black;
}
.center {
  margin: auto;
  border: 3px solid green;
  padding-left: 10%;
  padding-right: 10%;
}
.detailsLeft1 {
  text-align: right; 
  width: 35%;
}
.detailsLeft2 {
  text-align: right; 
  width: 25%;
}
.detailsRight {
  text-align: left; 
  width: 20%;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #1C658C, #1C658C);
}
.container {
  background-color: #D8D2CB;
  width: 50%;
  min-width: 420px;
  padding: 35px 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15);
}
h1 {
  font-size: 30px;
  text-align: center;
  color: #1c093c;
}
p {
  position: relative;
  margin: auto;
  width: 100%;
  text-align: center;
  color: #606060;
  font-size: 14px;
  font-weight: 400;
}
form {
  width: 100%;
  position: relative;
  margin: 30px auto 0 auto;
}
.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px 30px;
  margin-bottom: 20px;
}
label {
  color: #1c093c;
  font-size: 14px;
}
textarea,
input {
  width: 100%;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid #EEEEEE;
  margin-top: 5px;
}
textarea {
  resize: none;
}
textarea:focus,
input:focus {
  outline: none;
  border-color: #6f6df4;
}
button {
  border: none;
  padding: 10px 20px;
  background: linear-gradient(130deg, #398AB9, #398AB9);
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

/* RADIO */
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  height: 40px;
  width: 120px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.55),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  border: 5px solid #ececec;
  margin-right: 30px;
  border-radius: 30px;
  font: inherit;
  outline: none;
  cursor: pointer;
}
input[type="radio"]:after {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #606060;
  letter-spacing: 0.5px;
}
#developer:after {
  content: "Developer";
}
#designer:after {
  content: "Designer";
}
input[type="radio"]:checked,
a:active {
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.55),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.55),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}
input[type="radio"]:checked:after {
  color: #15e38a;
}
